In [1]:
import pandas as pd

In [3]:
pd.read_csv("../datasets/General_Outpatient_Clinics.csv").head()

,Name,Address,Lat,Long
0,Aberdeen Jockey Club General Out-patient Clinic,"10 Aberdeen Reservoir Road, Aberdeen",57.145481,-2.102720
1,Anne Black General Out-patient Clinic,"1/F, 140 Tsat Tse Mui Road, North Point",22.287111,114.191673
2,Ap Lei Chau General Out-patient Clinic,"161 Ap Lei Chau Main Street, Ap Lei Chau",22.243390,114.153690
3,Caritas Medical Centre Family Medicine Clinic ...,"G/F, Wai Ming Block, Caritas Medical Centre, 1...",22.329250,114.165611
4,Central District Health Centre General Out-pat...,"1 Kau U Fong, Central",19.100000,-155.600006

In [4]:
pd.read_csv("../datasets/Private_Clinics.csv").head()

,Unnamed: 0,Name of Clinic,Address,Lat,Long
0,1,Assemblies of God Medical Clinic,"No. 11-12, G/F, Suet Fung House, Fung Tak Esta...",22.344340,114.201650
1,2,Black Point Power Station Health Centre,"Black Point Power Station, Lung Kwu Tan Road, ...",22.394700,113.919250
2,3,BOCHK Health Care Division,"Room 1460, Bank of China Tower, 1 Garden Road,...",22.278470,114.159980
3,4,BOCHK Health Care Division (BOC Centre),"30/F, Bank of China Centre, Olympian City, 11 ...",36.563114,103.735809
4,5,Caritas Clinic – Caine Road,"Medical Clinic - Room 032, G/F, Caritas House,...",22.333080,114.191223

In [5]:
pd.read_excel("../datasets/Hong Kong Food Licences - Final.xlsx")

SyntaxError: invalid syntax (__init__.py, line 1187)